@model IEnumerable<Homework.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["客戶聯絡人Item"] != null && TempData["msg"] != null)
{
    var item = TempData["客戶聯絡人Item"] as Homework.Models.客戶聯絡人;
    var msg = TempData["msg"].ToString();
    <pre>@item.姓名 @msg</pre>
}
<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-info" })
    @Html.ActionLink("查詢", "Query", null, new { @class = "btn btn-success" })
    @Html.ActionLink("匯出至EXCEL", "Export", null, new { @class = "btn btn-warning" })
</p>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="control-label col-md-2">職稱</div>
        <div class="col-md-10">
            @Html.TextBox("職稱")
            <button type="submit" value="篩選" class="btn btn-default">篩選</button>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = ViewBag.客戶名稱SortParam })
        </th>
        <th>
            @Html.ActionLink("職稱", "Index",new { sortOrder = ViewBag.職稱SortParam })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { sortOrder = ViewBag.姓名SortParam })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParam })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sortOrder = ViewBag.手機SortParam })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = ViewBag.電話SortParam })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <button type="submit" onclick="custinfo(@item.客戶Id);" class="btn btn-default">@item.客戶資料.客戶名稱</button>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('確定要刪除資料?');", @class = "btn btn-default" })
        </td>
    </tr>
}

</table>

@Html.Partial("CustInfo")