@model MVC5Course.Models.UUU10010101

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UUU10010101</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UNIQ_KEY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIQ_KEY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NAME_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NAME_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_ABBR_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_ABBR_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPANY_PERSON_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANY_PERSON_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACTORY_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACTORY_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NAME_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NAME_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_ABBR_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_ABBR_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTER_EXT_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTER_EXT_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_UNIF_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_UNIF_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDI_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDI_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_TAX_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_TAX_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_SET_UP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_SET_UP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ITEM_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ITEM_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ITEM_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ITEM_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUINESS_CAPITAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUINESS_CAPITAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CHIEF_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CHIEF_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARTY_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTY_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GROUP_NO_CORP_NO_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GROUP_NO_CORP_NO_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GROUP_NO_CORP_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GROUP_NO_CORP_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORG_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORG_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANSNATIONAL_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANSNATIONAL_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHARES_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHARES_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORPMODEL_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORPMODEL_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORP_PUB_YYYYMM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORP_PUB_YYYYMM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORP_TSE_YYYYMM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORP_TSE_YYYYMM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORP_OTC_YYYYMM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORP_OTC_YYYYMM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GROUP_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GROUP_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHER_REMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHER_REMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_TAX_INNER_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_TAX_INNER_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_TAX_PERCENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_TAX_PERCENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_TRADE_COND_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_TRADE_COND_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_PAY_WAY_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_PAY_WAY_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_CURR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_CURR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_INVOICE_OR_ACCORD_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_INVOICE_OR_ACCORD_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SA_FORMAT_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SA_FORMAT_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVO_XTYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVO_XTYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRAN_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRAN_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAKE_COLL_BUSINESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKE_COLL_BUSINESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_FOR_BUSINESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_FOR_BUSINESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVO_NAME_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVO_NAME_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVO_ADDR_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVO_ADDR_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALE_GRADE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALE_GRADE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROUTE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROUTE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BELONG_TO_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BELONG_TO_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOIN_SELF_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOIN_SELF_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_MUST_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_MUST_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTACH_PAPER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTACH_PAPER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALE_CUST_PROD_NO_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALE_CUST_PROD_NO_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECK_SHEET_SEND_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECK_SHEET_SEND_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_INVOICE_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_INVOICE_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_INVOICE_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_INVOICE_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_INVOICE_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_INVOICE_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_AR_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_AR_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_AR_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_AR_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_AR_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_AR_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MAKE_COLL_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MAKE_COLL_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MAKE_COLL_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MAKE_COLL_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MAKE_COLL_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MAKE_COLL_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_CASH_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_CASH_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_CASH_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_CASH_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_CASH_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_CASH_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHEQ_PAY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHEQ_PAY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_BILL_PAY_DAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_BILL_PAY_DAYS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAKE_COLL_CASE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKE_COLL_CASE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAKE_COLL_UNUSAL_REASON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKE_COLL_UNUSAL_REASON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_DISC_RATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_DISC_RATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_START_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_START_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRED_CONTAIN_GROUP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRED_CONTAIN_GROUP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRED_CHECK_POINT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRED_CHECK_POINT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRED_CHECK_POINT_END)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRED_CHECK_POINT_END)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OVER_CRED_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OVER_CRED_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRED_AMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRED_AMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_BEGIN_BUSINESS_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_BEGIN_BUSINESS_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_BUSINESS_STOP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_BUSINESS_STOP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_BUSINESS_DISCOUNT_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_BUSINESS_DISCOUNT_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_TAX_INNER_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_TAX_INNER_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_TAX_PERCENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_TAX_PERCENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_TRADE_COND_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_TRADE_COND_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_PAY_WAY_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_PAY_WAY_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_CURR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_CURR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_INVOICE_OR_ACCORD_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_INVOICE_OR_ACCORD_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IN_FORMAT_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IN_FORMAT_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAY_COLL_BUSINESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAY_COLL_BUSINESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUR_GRADE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUR_GRADE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUR_CRED_CHECK_POINT_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUR_CRED_CHECK_POINT_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUR_CRED_CHECK_POINT_END_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUR_CRED_CHECK_POINT_END_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OVER_PUR_CRED_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OVER_PUR_CRED_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUR_CRED_AMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUR_CRED_AMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_INVOICE_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_INVOICE_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_INVOICE_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_INVOICE_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_INVOICE_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_INVOICE_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_AP_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_AP_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_AP_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_AP_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_AP_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_AP_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_MAKE_COLL_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_MAKE_COLL_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_MAKE_COLL_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_MAKE_COLL_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_MAKE_COLL_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_MAKE_COLL_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_CASH_BASS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_CASH_BASS_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_CASH_DATE_BY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_CASH_DATE_BY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_CASH_DATE_BY_WEEK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_CASH_DATE_BY_WEEK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMIT_MONEY_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMIT_MONEY_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMIT_MONEY_BANK_ACCT_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMIT_MONEY_BANK_ACCT_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMIT_MONEY_BANK_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMIT_MONEY_BANK_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMIT_MONEY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMIT_MONEY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MONEY_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MONEY_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MONEY_BANK_ACCT_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MONEY_BANK_ACCT_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MONEY_BANK_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MONEY_BANK_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_MONEY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUS_MONEY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILL_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILL_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAY_CHEQ_PAY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAY_CHEQ_PAY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROC_COST_BURDEN_TYPE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROC_COST_BURDEN_TYPE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_BEGIN_BUSINESS_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_BEGIN_BUSINESS_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_BUSINESS_STOP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_BUSINESS_STOP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_BUSINESS_DISCOUNT_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_BUSINESS_DISCOUNT_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_TEL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_TEL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_FAX_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_FAX_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_WEB_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_WEB_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ZIP_ADDR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ZIP_ADDR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ADDR_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ADDR_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ADDR_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ADDR_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIAISON_ZIP_ADDR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIAISON_ZIP_ADDR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIAISON_ADDR_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIAISON_ADDR_CHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIAISON_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIAISON_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIAISON_ADDR_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIAISON_ADDR_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_ZIP_ADDR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_ZIP_ADDR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_ADDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_ADDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ACCT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ACCT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_ACCT_TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_ACCT_TEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CASH_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CASH_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CASH_TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CASH_TEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELI_ZIP_ADDR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELI_ZIP_ADDR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELI_ADDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELI_ADDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELI_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELI_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELI_TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELI_TEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPOINT_INVOICE_CORP_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPOINT_INVOICE_CORP_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENT_PRICE_TACTIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENT_PRICE_TACTIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REPLY_STAMPS_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REPLY_STAMPS_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROD_EXPECT_STORE_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROD_EXPECT_STORE_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLOSE_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLOSE_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOP_USE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOP_USE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEL_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEL_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIMITS_OF_AUTHORITY_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIMITS_OF_AUTHORITY_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPT_BOSS_ALLOW_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPT_BOSS_ALLOW_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPT_BOSS_ALLOW_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPT_BOSS_ALLOW_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPT_BOSS_ALLOW_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPT_BOSS_ALLOW_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTRY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTRY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTRY_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTRY_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFY_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFY_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTRY_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTRY_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_CHA_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_CHA_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_NUM_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_NUM_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_NUM_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_NUM_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_DATE_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_DATE_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USC_FIELD_DATE_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USC_FIELD_DATE_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIELD_CHA_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIELD_CHA_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_CHA_16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_CHA_16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_NUM_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_NUM_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHXX_FIELD_DATE_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHXX_FIELD_DATE_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIAISON_BUSINESS_TEL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIAISON_BUSINESS_TEL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIAISON_BUSINESS_FAX_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIAISON_BUSINESS_FAX_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LABOR_IDENTITY_YN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABOR_IDENTITY_YN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LABOR_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABOR_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMP_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIP_PERM_ADDR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIP_PERM_ADDR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERM_ADDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERM_ADDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_NAME_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_NAME_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWIFT_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWIFT_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NATION_TAIWAN_TAX_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NATION_TAIWAN_TAX_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_ADDR_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_ADDR_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUB_FORMAT_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUB_FORMAT_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVO35_TRANS_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVO35_TRANS_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS_CORP_NO_KIND_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS_CORP_NO_KIND_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_GRADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_GRADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL_THE_WAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL_THE_WAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIRTUAL_MASK_BANK_ACCT_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIRTUAL_MASK_BANK_ACCT_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISR_MIG_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISR_MIG_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVO_ZIP_ADDR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVO_ZIP_ADDR_CODE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
